* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(./bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}


h1 {
  color: white;
  text-align: center;
  padding: 0 0 4vw 0;
  width: 80vw;
}

.bg-animation {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #9c27b0ad, #ca7b3ad1, #0100ffd4);
  background-size: 400% 400%;
  position: absolute;
  z-index: -1;
  animation: changeLinear 10s ease-in-out alternate infinite;

}


@keyframes changeLinear {
  0% {
    background-position: 10% 0%
  }

  50% {
    background-position: 91% 100%
  }

  100% {
    background-position: 10% 0%
  }
}

input[type="text"],
.output,
select {
  font-size: 2vw;
  padding: 0 3vw;
  height: 6vh;
  width: 70vw;
  background-color: white;
  border: none;
  margin: 2vw 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.output h3 {
  font-size: 2vw;
  font-weight: normal;
  opacity: 0;
}

.output h3[data-aninamtion="animate"] {
  animation: textAppear 1s linear forwards 1;
}

@keyframes textAppear {
  100% {
    opacity: 1;
  }
}